@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css');

/* ======= CORES ======= */
:root {
  /* palheta do site */
  --gold: #D4A024;
  --black-deep: #1F1F22;
  --graphite: #2A2A2E;
  --gray-light: #E3E3E3;
  --white: #ffffff;
  --text-light: #CCCCCC;

  /* palheta de perfil */
  --cor-fundo: #f2f2f2;
  --cor-card: #ffffff;
  --cor-texto: #1F1F22;
  --cor-texto-secundario: #777777;
  --cor-card-borda: #dddddd;
  --cor-icone: #444444;
  --cor-primaria: #3f51b5;

  /* palheta de compra */
  --cor-fundo: #f5f5f5;
  --cor-container: #ffffff;
  --cor-texto: #333333;
  --cor-destaque: #0077cc;
  --cor-input: #ececec;
  --cor-botao: #0077cc;
  --cor-botao-texto: #ffffff;

  /* palheta de home */
  --cor-primaria: #2c3e50;
  --cor-secundaria: #3498db;
  --cor-bg-claro: #f4f4f4;
  --cor-branco: #ffffff;
  --cor-texto: #333333;

   --brand-dark: #0C1F2C;
  --brand-medium: #1A3B51;
  --brand-light: #AFC9D6;
  --brand-accent: #E68A3F;
  --brand-white: #F7F7F7;

  --cor-primaria-clara: rgba(13, 110, 253, 0.08);
  --sombrasuave: 0 6px 18px rgba(0,0,0,0.08);
}


/* ======= HEADER ======= */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  background: var(--black-deep);
  box-shadow: 0 3px 8px rgba(0,0,0,0.4);
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo-img {
  height: 55px;
}

.nav a {
  margin: 0 15px;
  text-decoration: none;
  color: var(--gray-light);
  font-weight: 500;
  transition: 0.3s;
}

.nav a:hover {
  color: var(--gold);
}

.btn-contato {
  background: var(--gold);
  color: var(--black-deep);
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn-contato:hover {
  opacity: 0.85;
}

/* Responsivo */
@media (max-width: 800px) {
  .nav { display: none; }
}

/* ======= FOOTER ======= */
.footer {
  background: var(--black-deep);
  color: var(--white);
  padding: 40px 20px 20px;
  margin-top: 50px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-col a {
  display: block;
  color: var(--gray-light);
  margin-top: 8px;
  text-decoration: none;
  transition: 0.3s;
}

.footer-col a:hover {
  color: var(--gold);
}

.footer-bottom {
  text-align: center;
  margin-top: 25px;
  font-size: 14px;
  color: var(--gray-light);
}

/* Responsivo */
@media (max-width: 800px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
}
